.Board {
    position: relative;
}

.Cell {
    background: #ccc;
    position: absolute;
    box-sizing: border-box;
    border: 5px solid white
}

.Cell:hover{
    border: 3px solid #433F47
}

.CellA{
    background: #ccc;
    position: absolute;
    box-sizing: border-box;
    border: 3px solid #873AD4
}

.CellB{
    background: #ccc;
    position: absolute;
    box-sizing: border-box;
    border: 3px solid #E3FF19
}

.container {
    width: 100%;
    white-space: nowrap;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.padding-1{
    padding-right:0;
}

padding-2{
    padding-left: 0;
}