.Board {
    position: relative;
}

.Cell {
    background: #ccc;
    position: absolute;
    box-sizing: border-box;
    border: 5px solid white
}

.Cell:hover{
    border: 3px solid #433F47
}

.CellA{
    background: #ccc;
    position: absolute;
    box-sizing: border-box;
    border: 3px solid #009688
}

.CellB{
    background: #ccc;
    position: absolute;
    box-sizing: border-box;
    border: 3px solid #673ab7
}

.CellC{
    background: #ccc;
    position: absolute;
    box-sizing: border-box;
    border: 3px solid #cddc39
}

.container {
    width: 100%;
    white-space: nowrap;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.padding-1{
    padding-right:0;
}

padding-2{
    padding-left: 0;
}

.card {
    max-width: 100%;
}
.card-text {
    word-wrap: break-word;
}

/*modal stuff */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}



